In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

pd.options.display.max_rows = 100
pd.options.display.max_columns = None

## Read in data

### outcome (short)

In [2]:
outcome = pd.read_csv('../Data/MESA/outcomes/event.csv')
outcome = outcome[['idno','cvda', 'cvdatt']]
outcome = outcome.dropna()

In [3]:
# create 10-year CVD outcome
outcome['cvd_10y'] = ((outcome['cvda'] == 1) & (outcome['cvdatt'] <= 3650)).astype(int)

### nb features (long)

In [4]:
## nSES 
nSES = pd.read_csv('../Data/MESA/neighborhood_data/neighborhood_census_tract_SES.csv')
nSES = nSES[['idno', 'EXAM', 'F1_PC2']]

## G_bla_rk'
rs = pd.read_csv('../Data/MESA/neighborhood_data/neighborhood_racial_seg.csv')
rs = rs[['idno', 'EXAM', 'G_bla_rk']]

## 'S1FAV', 'S1PAI'
nb_env = pd.read_csv('../Data/MESA/neighborhood_data/neighborhood_builtenv.csv')   ## error in first few rows
nb_env = nb_env[['idno', 'EXAM','S1FAV', 'S1PAI']]


## merge
nb_feature = pd.merge(nSES, rs, on=["idno", "EXAM"], how="inner")
nb_feature = pd.merge(nb_feature, nb_env, on=["idno", "EXAM"], how="inner")

### ind exposures and covariates (long)

In [5]:
v1 = pd.read_csv('../Data/MESA/exam_1/final_label_1.csv')
v1 = v1[['idno','site1c',
        'income1', 'chdiet1c', 'chphysact1c',
        'age1c', 'race1c', 'gender1', 'cig1c', 'curalc1', 'diabet1', 'hdl1','chol1','sbp1c']]
v1['EXAM'] = 1.0

v1.rename(columns={'site1c':'site','income1': 'income', 'chdiet1c': 'chdiet', 'chphysact1c':'chphysact',
                   'age1c':'age', 'race1c':'race', 'gender1':'gender', 'cig1c':'cig', 
                   'curalc1':'cural', 'diabet1':'diabet', 'hdl1':'hdl','chol1':'chol','sbp1c':'sbp'}, 
          inplace=True)

v1['diabet'] = np.where(v1['diabet'] == 9, np.nan, v1['diabet'])

### Merge

In [6]:
# Outcome and baseline X

covar = nb_feature[nb_feature['EXAM']==1].merge(v1, how='right', on=['idno','EXAM'])  
merged = outcome.merge(covar, how='left', on=['idno'])

In [7]:
# rename variables

merged = merged.rename(columns = {'cvd_10y': 'Y_10y', 
                             'F1_PC2': 'nSES',
                            'S1FAV': 'nFavFood',
                            'S1PAI': 'nPhysFac', 
                            'G_bla_rk': 'nRS', 
                            'chdiet': 'nutrition', 
                            'chphysact': 'PhysAct',
                            'income': 'FamIncome',
                             'cig':'currentSmoker',
                            'cural':'alc',
                              'diabet': 'Diabetes',
                              'chol':'totchol'})

In [10]:
merged

,idno,cvda,cvdatt,Y_10y,EXAM,nSES,nRS,nFavFood,nPhysFac,site,FamIncome,nutrition,PhysAct,age,race,gender,currentSmoker,alc,Diabetes,hdl,totchol,sbp
0,3010007,0.0,6523.0,0,1.0,NaN,NaN,NaN,NaN,3.0,11.0,1.0,2.0,51.0,1.0,1.0,1.0,1.0,0.0,59.0,169.0,147.5
1,3010023,0.0,6373.0,0,1.0,NaN,NaN,NaN,NaN,3.0,11.0,0.0,2.0,54.0,1.0,0.0,0.0,NaN,0.0,75.0,157.0,100.5
2,3010031,0.0,6060.0,0,1.0,0.859551,2.882767,0.318447,0.000000,3.0,4.0,0.0,2.0,78.0,3.0,0.0,1.0,0.0,0.0,38.0,198.0,149.5
3,3010040,1.0,5287.0,0,1.0,0.545351,0.197152,0.955342,0.636895,3.0,11.0,0.0,2.0,60.0,3.0,1.0,0.0,0.0,1.0,36.0,179.0,141.5
4,3010058,0.0,5714.0,0,1.0,-1.412698,-1.743838,0.955342,1.910684,3.0,6.0,0.0,1.0,70.0,3.0,0.0,1.0,0.0,0.0,57.0,236.0,145.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6782,8024952,0.0,5014.0,0,1.0,0.977171,0.360429,5.413604,15.603917,8.0,7.0,1.0,0.0,71.0,4.0,0.0,0.0,NaN,0.0,80.0,242.0,144.0
6783,8024960,0.0,6034.0,0,1.0,1.494854,-1.446317,1.592236,1.910684,8.0,4.0,1.0,2.0,81.0,4.0,0.0,0.0,1.0,0.0,52.0,160.0,153.5
6784,8024979,0.0,6104.0,0,1.0,0.585790,-1.072796,0.318447,1.592236,8.0,5.0,1.0,0.0,67.0,4.0,0.0,2.0,1.0,0.0,48.0,129.0,142.0
6785,8024987,0.0,4382.0,0,1.0,-0.658591,-1.074389,2.229131,3.502920,8.0,6.0,1.0,2.0,75.0,2.0,1.0,1.0,0.0,0.0,37.0,189.0,116.5
6786,8024995,1.0,2870.0,1,1.0,0.585213,-0.702969,0.636895,1.592236,8.0,6.0,0.0,0.0,67.0,4.0,1.0,0.0,1.0,0.0,30.0,202.0,124.5

In [9]:
merged.dropna()

,idno,cvda,cvdatt,Y_10y,EXAM,nSES,nRS,nFavFood,nPhysFac,site,FamIncome,nutrition,PhysAct,age,race,gender,currentSmoker,alc,Diabetes,hdl,totchol,sbp
2,3010031,0.0,6060.0,0,1.0,0.859551,2.882767,0.318447,0.000000,3.0,4.0,0.0,2.0,78.0,3.0,0.0,1.0,0.0,0.0,38.0,198.0,149.5
3,3010040,1.0,5287.0,0,1.0,0.545351,0.197152,0.955342,0.636895,3.0,11.0,0.0,2.0,60.0,3.0,1.0,0.0,0.0,1.0,36.0,179.0,141.5
4,3010058,0.0,5714.0,0,1.0,-1.412698,-1.743838,0.955342,1.910684,3.0,6.0,0.0,1.0,70.0,3.0,0.0,1.0,0.0,0.0,57.0,236.0,145.5
5,3010066,0.0,6129.0,0,1.0,-0.450402,-1.424273,0.000000,0.318447,3.0,11.0,1.0,2.0,62.0,3.0,0.0,0.0,0.0,0.0,50.0,174.0,164.5
8,3010090,0.0,6107.0,0,1.0,0.955388,4.744247,0.636895,0.636895,3.0,6.0,1.0,1.0,53.0,3.0,0.0,1.0,0.0,0.0,59.0,215.0,133.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6780,8024936,0.0,6016.0,0,1.0,-2.783681,-1.116680,0.000000,1.910684,8.0,6.0,1.0,2.0,77.0,2.0,1.0,0.0,0.0,0.0,69.0,194.0,112.0
6783,8024960,0.0,6034.0,0,1.0,1.494854,-1.446317,1.592236,1.910684,8.0,4.0,1.0,2.0,81.0,4.0,0.0,0.0,1.0,0.0,52.0,160.0,153.5
6784,8024979,0.0,6104.0,0,1.0,0.585790,-1.072796,0.318447,1.592236,8.0,5.0,1.0,0.0,67.0,4.0,0.0,2.0,1.0,0.0,48.0,129.0,142.0
6785,8024987,0.0,4382.0,0,1.0,-0.658591,-1.074389,2.229131,3.502920,8.0,6.0,1.0,2.0,75.0,2.0,1.0,1.0,0.0,0.0,37.0,189.0,116.5
6786,8024995,1.0,2870.0,1,1.0,0.585213,-0.702969,0.636895,1.592236,8.0,6.0,0.0,0.0,67.0,4.0,1.0,0.0,1.0,0.0,30.0,202.0,124.5

In [ ]:
#merged.to_csv('../data_processed/MESA/Y_BaselineX_raw_full.csv', index = False)

#merged[merged['race'] == 3].to_csv('../data_processed/MESA/Y_BaselineX_raw_bla.csv', index = False)

## Preprocess

In [ ]:
# covariates with no missing values:
# A_S1FAV, A_S1PAI, site, age, race, gender

### pipeline

In [11]:
def fillna_cat(df,cat_feat):
    for feat in cat_feat:
        df[feat].fillna(df[feat].mode()[0], inplace=True)
    return df

def fillna_cont(df,cont_feat):
    df= df.fillna((df[cont_feat].mean()))
    return df


def quantile_exp(df,con_exp_feat):
    for feat in con_exp_feat:
        df[feat] = df[feat].transform(lambda x: pd.qcut(x.rank(method='first'), 
                                                         q = [0, 0.25, 0.5, 0.75, 1], labels = [1,2,3,4]))
        df[feat] = pd.to_numeric(df[feat])
    return df

def standardize(df,con_index):
    scaler = StandardScaler()
    scaler.fit(df[con_index],) 
    df[con_index] = scaler.transform(df[con_index], copy = True)
    return df

income_mapping = {1:1,2:1,3:1,
                 4:2,5:2,6:2,
                 7:3,8:3,9:3,10:3, 11:3,
                 12:4,13:4}
def map_income(df):
    df['FamIncome'] = df['FamIncome'].replace(income_mapping)
    return df


## complete pipeline

def process(df,cont_feat,cat_feat,con_exp_feat):
    
    df = fillna_cat(df,cat_feat)
    df = map_income(df)
    
    df = fillna_cont(df,cont_feat)
    df = standardize(df,cont_feat)
        
    df = fillna_cont(df,con_exp_feat)
    df = quantile_exp(df,con_exp_feat)
    
    return df

### preprocess baseline df

In [12]:
con_exp_feat = ['nSES','nFavFood','nPhysFac','nRS']

cont_feat = ['sbp', 'hdl', 'totchol']

cat_feat = ['site','age','nutrition','PhysAct','currentSmoker','Diabetes', 'gender', 'race', 'FamIncome','alc']

In [ ]:
dat_base_processed = merged.copy()
dat_base_processed = process(merged,cont_feat,cat_feat,con_exp_feat)

In [ ]:
#dat_base_processed.to_csv('../data_processed/MESA/Y_BaselineX_processed_full.csv', index = False)

#dat_base_processed[dat_base_processed['race']==3].to_csv('../data_processed/MESA/Y_BaselineX_processed_bla.csv', index = False)

### missing imputation only

In [ ]:
cat_feat = ['FamIncome', 'nutrition', 'PhysAct',
           'currentSmoker','alc','Diabetes']

cont_feat = ['nSES','nFavFood','nPhysFac','nRS', 
             'hdl','totchol','sbp']

In [ ]:
imputed = fillna_cat(merged,cat_feat)  
imputed = fillna_cont(merged,cont_feat)

In [ ]:
#imputed.to_csv('../data_processed/MESA/Y_BaselineX_imputed_full.csv', index = False)

#imputed[imputed['race']==3].to_csv('../data_processed/MESA/Y_BaselineX_imputed_bla.csv', index = False)

### categorization only

In [13]:
mesa_cate = merged.copy()

# standardize
cols_to_standardize = ['nSES','nFavFood','nPhysFac','nRS', 'sbp', 'hdl', 'totchol']
scaler = StandardScaler()
mesa_cate[cols_to_standardize] = scaler.fit_transform(mesa_cate[cols_to_standardize])

# categorize
mesa_cate = quantile_exp(mesa_cate,con_exp_feat)

In [18]:
mesa_cate.to_csv('../data_processed/MESA/Y_BaselineX_cate_full.csv', index = False)

mesa_cate[mesa_cate['race']==3].to_csv('../data_processed/MESA/Y_BaselineX_cate_bla.csv', index = False)